body {
    height: 100vh;
    background-color: black;
}

.text {
    position: absolute;
    z-index: 9999999;
    font-weight: bold;
    user-select: none;
}

@keyframes remove {
    100% {
        opacity: 0;
    }
}
